<%- include("partials/header") %>

<div class="center">
  <h2 class="heading">BASIC BANKING SYSTEM</h2>
</div>

<div class="container1">
  <div class="hero_content">
    <div class="hero_items">
      <h1>Welcome to TSF Bank</h1>
      <p>With 24×7 Personal Loans Digital, Instant and Simple.</p>

      <button class="hero_btn">
       <li class="link"><a href="/view">Do Transaction</a></li> 
      </button>
    </div>
  </div>

  <div class="hero_right1">
    <img src="/images/8233-removebg-preview.png" alt="image" />
  </div>
</div>

<%- include("partials/footer") %>
